@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue');

:root {
    --base01: #181825;
    --base02: #313244;
    --base03: #45475a;
    --base04: #585b70;
    --base05: #cdd6f4;
    --base06: #f5e0dc;
    --base07: #b4befe;
    --base08: #f38ba8;
    --base09: #fab387;
    --base0A: #f9e2af;
    --base0B: #a6e3a1;
    --base0C: #94e2d5;
    --base0D: #89b4fa;
    --base0E: #cba6f7;
    --base0F: #f2cdcd;
}

@media print {
  @page { margin: 0; }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
    line-height: 1.4em;
    font-size: 0.85em;
    max-width: 100ch;

    background-color: var(--base01);
    color: var(--base05);

    font-family: 'Iosevka Web', monospace;
}

a {
    color: var(--base09);
}

a:hover {
    color: var(--base0B);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--base08);
}

li {
    list-style-type: square;
}

li::marker {
    color: var(--base08)
}

em {
    background-color: var(--base02);
    color: var(--base0C);
    border-radius: 0.2em;
    padding: 0.05em 0.2em 0.05em 0.2em;
}

.header {
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin-top: 2em;
    gap: 4em;
}

.header .name {
    margin: 0;
    font-size: 2.15em;
    line-height: 1em;
    color: var(--base06);
}

.header .description {
    font-family: 'Comic Neue';
    font-style: italic;
    white-space: nowrap;
}

.header .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 20px;
    white-space: nowrap;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-top: 0.2em;
}

.header .contact-info i {
    font-size: 1.1em;
}

.contact-info li {
    list-style-type: none;
}

.subsections-container {
    display: flex;
    flex-direction: column;
}

.subsection {
    break-inside: avoid;
}

.organization-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.organization {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    border: var(--base02);
    border-style: dotted;
    padding: 0.7em;
}

.organization .tenure {
    display: flex;
    justify-content: space-between;
}

.organization .tenure .title {
    font-size: 1.3em;
    font-weight: 500;
}

.organization .tenure .timeframe {
    font-size: 0.9em;
    font-style: italic;
}

.organization .name {
    font-size: 1.15em;
    font-weight: 300;
    color: var(--base0A);
}

.organization ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.alt-li-style li {
    list-style-type: "| ";
}

.alt-li-style li::marker {
    color: var(--base0B)
}

.alt-li-style em {
    font-weight: 700;
    font-style: normal;
    background-color: var(--base01);
}

.organization .tech ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 2em;
}

.organization .tech li {
    list-style-type: none;
    color: var(--base0D);
    border-color: var(--base0E);
    border-style: none none solid none;
}

#language-list {
    padding-inline-start: 0;
    margin-block-start: 0;
    list-style-type: none;
}

#language-list li {
    list-style-type: none;
}
